@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;500&family=Poppins:wght@300;400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif;*/
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Lato', sans-serif; */

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

.flex {
  display: flex;
}

/* header fixed */

header .fixed-header {
  background-color: transparent;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-between;
  align-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  position: fixed;
  z-index: 999999;
}

header .fixed-header img {
  margin-left: 30px;
  width: 100px;
  object-fit: cover;
}

header .fixed-header ul {
  /* width: 100rem; */
  text-transform: uppercase;
  justify-content: flex-end;
  padding-right: 30px;
}

header .fixed-header ul li {
  line-height: 80px;
  /* width: 11.111111%; */
}

header .fixed-header ul li a {
  display: block;
  padding: 0 20px;
  transition: 0.3s;
}

header .fixed-header ul li a:hover {
  background-color: rgb(0, 158, 211);
  color: white;
}

/* header mainheader */

header .main-header {
  position: relative;
  height: 100vh;
  background-color: #ddd;
}

header .main-header .left-box {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

header .main-header .left-box .text {
  width: 41%;
}

header .main-header .left-box h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 17px;
  margin-bottom: 50px;
}

header .main-header .left-box h1 {
  font-size: 4.5rem;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 50px;
}
header .main-header .left-box .btn {
  width: 60px;
  aspect-ratio: 1;
  background-color: rgba(78, 78, 78, 0.7);
  display: grid;
  place-content: center;
  border-radius: 50%;
}
header .main-header .left-box .btn a {
  display: block;
  display: grid;
  place-content: center;
  color: white;
  /* width: 50%; */
}

header .main-header .right-box {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header .main-header .right-box img {
  width: 746px;
}

header .main-header .right-box .text span {
  position: relative;
}
header .main-header .right-box .text span:first-child {
  margin-right: 35px;
}

header .main-header .right-box .text span:first-child::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 8px;
  left: 20px;
}

/* main section1 */

main .section1 {
  padding: 150px;
  flex-wrap: wrap;
}

main .section1 .item {
  width: 50%;
  padding: 40px;
}

main .section1 .item h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}
main .section1 .item p {
  line-height: 1.8;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  color: #3b3b3b;
}

main .section1 .item:nth-child(odd) {
  border-right: #ddd 1px solid;
}

main .section1 .item1 {
  border-bottom: #ddd 1px solid;
}
main .section1 .item2 {
  border-bottom: #ddd 1px solid;
}

/* main section2 */

main .section2 {
  height: 110vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

main .section2 .item p {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.72);
  opacity: 0;
  transition: 0.3s;
  color: rgb(61, 61, 61);
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}
main .section2 .item p a {
  transform: translateY(-9px);
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
}
main .section2 .item p a:hover {
  color: rgb(0, 152, 202);
}

main .section2 .item:hover p {
  opacity: 1;
}

main .section2 .item:hover a {
  transform: translateY(0px);
  opacity: 1;
}

main .section2 .item1 {
  background: url(./image/1.jpg) no-repeat 50% / cover;
  grid-row: span 2;
  grid-column: span 2;
}
main .section2 .item2 {
  background: url(./image/2.jpg) no-repeat 50% / cover;
}
main .section2 .item3 {
  background: url(./image/7.jpg) no-repeat 50% / cover;
}
main .section2 .item4 {
  background: url(./image/4.jpg) no-repeat 50% / cover;
  grid-column: span 2;
}
main .section2 .item5 {
  background: url(./image/6.jpg) no-repeat 50% / cover;
}
main .section2 .item6 {
  background: url(./image/3.jpg) no-repeat 50% / cover;
}
main .section2 .item7 {
  background: url(./image/5.jpg) no-repeat 50% / cover;
  grid-column: span 2;
}

/* main section3 */

/* .section3 {
  width: 100%;
} */

main .section3 .text {
  padding: 100px;
  text-align: center;
}

main .section3 .text h1 {
  text-transform: capitalize;
  margin-bottom: 50px;
  position: relative;
}

main .section3 .text h1::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #3b3b3b;
}

main .section3 .text p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  font-family: "Lato", sans-serif;
}

main .section3 .img {
  /* width: 100%; */
  flex-wrap: wrap;
  padding: 100px;
  margin: 0 auto;
  justify-content: center;
  gap: 25px;
}

/* main .section3 .img .box {
  width: 50%;
} */

main .section3 .img p {
  text-align: center;
  line-height: 1.5;
  padding: 30px 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

main .section3 .img p span {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  font-family: "Montserrat", sans-serif;
}
